  <div class="grid logo-container logoHasMoved" ng-class="{logoHasMoved: logoTest == true}">
    <div class="grid__col--12">
      <div class="abs-cont  absLeft" ng-class="{absLeft: logoTest == true}" style="">
        <div class="abs">

        </div>
      </div>

    </div>
  </div>

  <ul class="profile-menu edit-lipsum fade ng-scope cta">

  </ul>

  <div class="grid">
    <div class="grid__col--12">
      <h1>Dhipsum</h1>
      <p class="text-white">Para os amantes do Zap</p>
    </div>
  </div>


  <div class="grid">

    <div class="grid__col&#45;&#45;4 display-lipsum-paragraphs">

      <!--Paragraphs-->
      <div class="lipsum-num-paragraphs">
        <input name="lipsumParagraphs" value="3 Paragraphs" id="lipsumParagraphs" type="text" disabled="">
      </div>
      <div class="para-controls">
        <div class="lipsum-para-inc-dec" id="lipsumParagraphsDec">
          <i class="ion-chevron-left" data-pack="default" data-tags="arrow, left"></i>
        </div>
        <div class="lipsum-para-inc-dec" id="lipsumParagraphsInc">
          <i class="ion-chevron-right" data-pack="default" data-tags="arrow, right"></i>
        </div>
      </div>

    </div>





    <div class="grid__col&#45;&#45;3 dirty-words" id="dirtyWords">
      <span>Dirty Words</span>
      <div class="squaredTwo">
        <input type="checkbox" value="None" name="check" id="lipsumDirty">
        <label for="lipsumDirty"></label>
      </div>


    </div>
    <div class="grid__col&#45;&#45;5 generate-lipsum-col">
      <h1 id="generateMarkup" name="generateMarkup">
        Generate Markup <i class="ion-chevron-right"></i>
      </h1>
    </div>
  </div><!-- Lipsum Tools -->

  <div class="grid">
    <div class="grid__col--12">
      <div id="lipsumWell" style="display: none"></div>
    </div>
  </div><!-- Lipsum Well -->
