/* You can add global styles to this file, and also import other style files */

/* Toastr */
@import "~ngx-toastr/toastr";

/* Bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap";

*,
*:after,
*::before {
    box-sizing: border-box;
}

@font-face {
  font-family: LatoRegular;
  src: url(assets/fonts/Lato-Regular.ttf);
}

body {
  font-family: LatoRegular;
  background-color: #445A64;
  color: white;
}
